format = """
$hostname\
[\u2591\u2592\u2593](lead)\
[\ue0b4](bg:directory fg:lead)\
$singularity\
$directory\
[\ue0b4](fg:directory) \
$kubernetes\
$vcsh\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$hg_branch\
$docker_context\
$package\
$cmake\
$cobol\
$dart\
$deno\
$dotnet\
$elixir\
$elm\
$erlang\
$golang\
$helm\
$java\
$julia\
$kotlin\
$lua\
$nim\
$nodejs\
$ocaml\
$perl\
$php\
$pulumi\
$purescript\
$python\
$rlang\
$red\
$ruby\
$rust\
$scala\
$swift\
$terraform\
$vlang\
$vagrant\
$zig\
$nix_shell\
$conda\
$memory_usage\
$aws\
$gcloud\
$openstack\
$azure\
$env_var\
$crystal\
$custom\
$sudo\
$cmd_duration\
$line_break\
$jobs\
$battery\
$time\
$status\
$shell\
$character"""

palette = 'local'
[palettes.local]
lead = "#a3aed2"
directory = "#4466ee"
directoryfg = "#e3e5e5"

[directory]
style = "fg:directoryfg bg:directory"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "\u2026 /"

[hostname]
ssh_only = true
disabled = false
format = "[$ssh_symbol$hostname]($style) "
[username]
show_always = true
disabled = false
format = "[$user]($style)@"
[kubernetes]
disabled=false
symbol = "\u2638\ufe0f  "
format = '[$symbol$context( \($namespace\))]($style) '
